.stretch {
    background-color: green;
    color: white;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    transition: padding 1s;

}

.stretch:hover {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 46px;
    padding-right: 466px;
}

.shadow {
    background-color: green;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3)
}

.shadow:active {
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
}

.stretch-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;

    transition: padding 0.15s,
        margin 0.15s;
}

.stretch-button:hover {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;
    margin-right: 0px;
}